body {
	background-color: #CCC;
	font-family: Arial, Verdana, sans-serif;
}

form {
	background-color: #fff;
	border: 1px solid #333;
	margin: 0 auto;
	padding: 20px;
	width: 90%;
}

h1 {
	margin: 0;
}

div {
	padding: 10px;
}

label {
	font-weight: 600;
}

label[for="male"],
label[for="female"],
label[for="angular"],
label[for="react"],
label[for="node"],
label[for="jquery"] {
	font-weight: 100;
}

textarea {
	height: 140px;
	width: 300px;
}