body {
	background-color: #CCC;
}

.block {
	border: 1px solid red;
}

.line {
	border: 1px solid green;
}

h2 {
	border: 1px solid orange;
}

ul {
	border: 1px solid yellow;
}

.image {
	width: 50%;
}

#one {
	color: brown;
}

#one .highlight {
	color: yellow;
}

.color-blue {
	color: blue;
}

#two {
	color: green;
}