body {
	background-color: #CCC;
	font-family: Arial, Verdana, sans-serif;
}

.container {
	border: 1px solid red;
	margin: 0 auto;
	width: 960px;
}

.clearfix {
	overflow: auto;
}

/*.box {
	height: 200px;
	width: 200px;
}*/

.header {
	background-color: green;
	float: left;
	height: 200px;
	width: 100%;
}

.content {
	background-color: orange;
	float: left;
	width: 70%;
}

.sidebar {
	background-color: blue;
	float: right;
	width: 25%;
}

.footer {
	background-color: brown;
	float: left;
	text-align: center;
	width: 100%;
}

/* Index2.html */
img.left {
	float: left;
	width: 250px;
	padding-right: 10px;
}

img.right {
	float: right;
	width: 250px;
	padding-left: 10px;
}